{{extend 'layout.html'}}


<h1>This is the gamename/image_store.html template</h1>
{{=test2}}

<div class="clip-circle"><img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" alt="rest" /></div>
<img class="clip-circle" src="http://t1.gstatic.com/images?q=tbn:ANd9GcRYDK6hkOay3_ttKZRI2ZuvetbPD-utVIoVgu54jTe8O64_dIIwVd67OpgB" />
<img class="profile-img" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" />
<br>
<img src="http://t2.gstatic.com/images?q=tbn:ANd9GcTZCfo94FDKNkVU2Q3WKGbdmjQxF8KiOQXteN7YbFyHU_uUSvrLqdCfJf2m-A" alt="Suni" style="float:left;margin:0 5px 0 0;" />
